<div>
    <h1 id="test">Welcome!</h1>
    <div id="register">
        <h3>Register</h3>
        <form action="/user" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
            <table>
                <tr><td>First Name:</td><td><input type="text" name="user[first_name]"/></td></tr>
                <tr><td>Last Name:</td><td><input type="text" name="user[last_name]" /></td></tr>
                <tr><td>Email:</td><td><input type="text" name="user[email]" /></td></tr>
                <tr><td>Password:</td><td><input type="password" name="user[password]" /></td></tr>
                <tr><td>Confirm_Password:</td><td><input type="password" name="user[password_confirmation]" /></td></tr>
                <tr><td><input type="submit" value="Register" /></td></tr>
            </table>
        </form>

    </div>
    <div id="login">
        <h3>Login</h3>
        <form action="/session/new">
            <table>
                <tr><td>Email:</td><td><input type="text" name="login[email]" /></td></tr>
                <tr><td>Password:</td><td><input type="password" name="login[password]" /></td></tr>
                <tr><td><input type="submit" value="Login" /></td></tr>
            </table>
        </form>
    </div>
</div>